.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}
.movie-poster {
  width: 100%;
  max-width: 150px;
}
.row-header {
  margin-bottom: 20px;
  padding: 20px 0;
  outline: 1px solid black;
}

.row + .row {
  border: 1px solid #eee;
  padding: 5px;
}

